.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 860px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #f0c284;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.columns {
    width: 50%;
}

.columns H4 {
    margin: 10px 0;
}

.featured_image {
    border-radius: 1rem;
    width: fit-content;
}

.hero_detail {
    display: flex;
}

.hero_detail div {
    display: flex;
    flex-direction: column;
}